<div class="panel panel-default">
	<div class="panel-body">
		<h2><strong>About Me</strong></h2>
		<div class="row">
			<div class="col-sm-8">
				 <p>My name is Ben and I am 27 years old. I know my face looks younger! I was born in Boulder, 	Colorado and moved to New York City when I was 16 years old, in 2002.</p> 
				<p>In 2008 I moved back to Colorado for college. I graduated from the University of Colorado with a degree in Sociology in 2010.</p>
				<p>In 2012 I moved back to New York City where I worked at a music marketing company and also at a venue (casa de show) as a sound engineer. </p>
				<p>I love music, playing guitar, learning new languages and of course teaching Brazilians English!</p>
				<p>Muito obrigado for looking at my website!</p>
				<p>Ben - See more at: http://brazilenglish.weebly.com/about.html#sthash.HM8nFNbY.dpuf</p>
			</div>
			<div class="col-sm-4">
				<%= image_tag "bensitting.jpg" , style: "width:100%" %>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<p><h1>Have more questions? </h1><%= link_to "Email me", "mailto:ben.fitterman@gmail.com", class: "btn btn-primary btn-lg" %></p>
	</div>
</div> <!-- panel default -->