  <div class="jumbotron center">
  	<h1>Aprende îngles com música!</h1>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      English With Music
    </div>
    <div class="panel-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu elit ut augue dapibus tristique eget quis ante. Vestibulum sit amet ultrices nunc, blandit eleifend diam. Duis lacinia, tortor ac lacinia tincidunt, dui tellus consectetur mi, vel aliquam quam massa ac dolor. Nullam consectetur quis sem vel scelerisque. Cras eu eros a lorem aliquam faucibus ac non ligula. Quisque nisl dui, venenatis in odio et, venenatis cursus odio. Sed in turpis at lectus rutrum volutpat sed ac massa. Suspendisse mollis pulvinar rhoncus. Praesent accumsan velit vehicula mi elementum pulvinar. Donec eleifend urna lacus, nec bibendum nunc rhoncus sit amet. Vivamus a orci nec nunc cursus viverra at eget massa.</p>
  		<p>The Best way to <%= link_to "learn", "#"%></p>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-warning">
          <div class="panel-heading">
            English With Music
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu elit ut augue dapibus tristique eget quis ante. Vestibulum sit amet ultrices nunc, blandit eleifend diam. Duis lacinia, tortor ac lacinia tincidunt, dui tellus consectetur mi, vel aliquam quam massa ac dolor. Nullam consectetur quis sem vel scelerisque. Cras eu eros a lorem aliquam faucibus ac non ligula. Quisque nisl dui, venenatis in odio et, venenatis cursus odio. Sed in turpis at lectus rutrum volutpat sed ac massa. Suspendisse mollis pulvinar rhoncus. Praesent accumsan velit vehicula mi elementum pulvinar. Donec eleifend urna lacus, nec bibendum nunc rhoncus sit amet. Vivamus a orci nec nunc cursus viverra at eget massa.</p>
        		<p>The Best way to <%= link_to "learn", "#"%></p>
          </div>
        </div>
      </div>  <!-- column div-->
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          English With Music
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu elit ut augue dapibus tristique eget quis ante. Vestibulum sit amet ultrices nunc, blandit eleifend diam. Duis lacinia, tortor ac lacinia tincidunt, dui tellus consectetur mi, vel aliquam quam massa ac dolor. Nullam consectetur quis sem vel scelerisque. Cras eu eros a lorem aliquam faucibus ac non ligula. Quisque nisl dui, venenatis in odio et, venenatis cursus odio. Sed in turpis at lectus rutrum volutpat sed ac massa. Suspendisse mollis pulvinar rhoncus. Praesent accumsan velit vehicula mi elementum pulvinar. Donec eleifend urna lacus, nec bibendum nunc rhoncus sit amet. Vivamus a orci nec nunc cursus viverra at eget massa.</p>
      		<p>The Best way to <%= link_to "learn", "#"%></p>
        </div>
      </div>
    </div> <!-- column -->  
    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          English With Music
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu elit ut augue dapibus tristique eget quis ante. Vestibulum sit amet ultrices nunc, blandit eleifend diam. Duis lacinia, tortor ac lacinia tincidunt, dui tellus consectetur mi, vel aliquam quam massa ac dolor. Nullam consectetur quis sem vel scelerisque. Cras eu eros a lorem aliquam faucibus ac non ligula. Quisque nisl dui, venenatis in odio et, venenatis cursus odio. Sed in turpis at lectus rutrum volutpat sed ac massa. Suspendisse mollis pulvinar rhoncus. Praesent accumsan velit vehicula mi elementum pulvinar. Donec eleifend urna lacus, nec bibendum nunc rhoncus sit amet. Vivamus a orci nec nunc cursus viverra at eget massa.</p>
      		<p>The Best way to <%= link_to "learn", "#"%></p>
        </div>
      </div>
    </div> <!-- colum -->  
  </div> <!-- row -->    